@model IEnumerable<AspNet.Identity.AdoNetProvider.Domain.Entities.ApplicationUser>

@{
    ViewBag.Title = "Users Accounts";
}

<div class="panel panel-primary">
    <div class="panel-heading">
        User Accounts
    </div>
    <div class="table-responsive">
        <table class="table table-striped">
            <tr>
                <th>ID</th>
                <th>User Name</th>
                <th>Phone Number</th>
                <th></th>
            </tr>
            @if (!Model.Any())
            {
                <tr>
                    <td colspan="4" class="text-center">No User Accounts</td>
                </tr>
            }
            else
            {
                foreach (var user in Model)
                {
                    <tr>
                        <td>@user.Id</td>
                        <td>@user.UserName</td>
                        <td>@user.PhoneNumber</td>
                        <td>
                            @using (Html.BeginForm("DeleteUser", "Administration", new { id = user.Id }))
                            {
                                @Html.ActionLink("Edit", "EditUser", new { id = user.Id }, new { @class = "btn btn-primary btn-xs" })
                                <button class="btn btn-danger btn-xs" type="submit">Delete</button>
                            }
                        </td>
                    </tr>
                }
            }
        </table>
    </div>
</div>
@Html.ActionLink("Create", "CreateUser", null, new { @class = "btn btn-primary" })